//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('NotoSans-Light', 'NotoSans', 'NotoSans-Light',  normal, normal)
webfont('NotoSans-Bold', 'NotoSans', 'NotoSans-Bold',  normal, normal)
webfont('NotoSans-Italic', 'NotoSans', 'NotoSans-Italic',  normal, normal)
webfont('NotoSans-LightItalic', 'NotoSans', 'NotoSans-LightItalic',  normal, normal)
webfont('NotoSans-Medium', 'NotoSans', 'NotoSans-Medium',  normal, normal)
webfont('NotoSans-Regular', 'NotoSans', 'NotoSans-Regular',  normal, normal)


