{% include '../parts/head.html' %}
<body class="page-inner page-with-light-header">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		
		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="sect__technical page-gutter-top gutter-bottom dark-text-color color-bg">

				<a href="page-interiors.html" class="link-back"><span>Интерьеры</span></a>

				<div class="container">
					<div class="block-404 text-center">
						<h1 class="block-404__title">404</h1>
						<p>Ошибка. Страница не найдена.</p>

						<a href="index.html" class="btn">Перейти на Главную</a>
					</div>
				</div>
				<!-- //container -->
			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>