{% include '../parts/head.html' %}
<body >
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo">

				<div class="promo-content text-center">
					<div class="container">
						<div class="promo-content__text">
							<h1>Строительство дома</h1>
							<p>От проекта до заселения за 10-12 месяцев</p>
						</div>

						<button type="button" class="btn btn-light js-open-popup-form-btn">Записаться на консультацию</button>
					</div>
					<!-- //container -->
				</div>


				{% include '../parts/components/promo-slider.html' %}
			</section>
			<!-- //sect promo -->

			<section class="sect__chapters">
				<div class="chapter-cards row align-horisontal-start">
					<article class="chapter-card chapter-card__main text-center">
						<header class="chapter-card__header">
							<p class="chapter-card__category">квартиры / ДОМА</p>
							<h2 class="chapter-card__title">Интерьеры</h2>
						</header>

						<div class="chapter-card__img chapter-card__img-double">
							<img src="img/chapters/1.png" alt="">
							<img src="img/chapters/1-dark.png" alt="">
						</div>

						<div class="chapter-card__information">
							<p class="chapter-card__price">$ 1,000 / метр</p>
							<div class="chapter-card__text">
								<p>Стоимость указана за проект подключ.<br> Входит : Проектирование, Ремонт, Мебелирование и декор </p>
							</div>
						</div>

						<footer class="chapter-card__footer">
							<a href="#" class="btn">Подробнее</a>
						</footer>
					</article>
					<!-- //card -->

					<article class="chapter-card chapter-card__main text-center">
						<header class="chapter-card__header">
							<p class="chapter-card__category">ДОМА / КОТТЕДЖИ</p>
							<h2 class="chapter-card__title">Строительство</h2>
						</header>

						<div class="chapter-card__img">
							<img src="img/chapters/2.png" alt="">
						</div>

						<div class="chapter-card__information">
							<p class="chapter-card__price">$ 1,000 / метр</p>
							<div class="chapter-card__text">
								<p>Стоимость указана за проект подключ.<br> Входит : Проектирование, Ремонт, Мебелирование и декор </p>
							</div>
						</div>

						<footer class="chapter-card__footer">
							<a href="#" class="btn">Подробнее</a>
						</footer>
					</article>
					<!-- //card -->

					<article class="chapter-card chapter-card__main text-center">
						<header class="chapter-card__header">
							<p class="chapter-card__category">ТЦ / Комплексы</p>
							<h2 class="chapter-card__title">Крупные объекты</h2>
						</header>

						<div class="chapter-card__img">
							<img src="img/chapters/3.svg" alt="">
						</div>

						<div class="chapter-card__information">
							<p class="chapter-card__price">$ 1,000 / метр</p>
							<div class="chapter-card__text">
								<p>Стоимость указана за проект подключ.<br> Входит : Проектирование, Ремонт, Мебелирование и декор </p>
							</div>
						</div>

						<footer class="chapter-card__footer">
							<a href="#" class="btn">Подробнее</a>
						</footer>
					</article>
					<!-- //card -->


				</div>
			</section>
			<!-- //sect chapters -->

			<section class="sect__story gutters">
				<div class="container">

					<div class="story row align-vertical-center align-horisontal-between row-nowrap row-gutters gutter-right">
						<div class="story-content col-gutters">
							<div class="story-content__text">
								<h2>История<br><em>WALLMAKE</em></h2>
								<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
							</div>

							<div class="links row align-vertical-center align-horisontal-start row-nowrap">
								<button type="button" class="btn js-open-popup-form-btn">Заказать услугу</button>

								<a href="#" class="link">Читать далее</a>
							</div>
						</div>

						{% include '../parts/components/content-img.html' %}
						{% include '../parts/components/simple-slider.html' %}
						
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect story -->

			{% include '../parts/sections/sect-portfolio.html' %}
			<!-- //sect portfolio -->

			{% include '../parts/sections/sect-presentation.html' %}
			<!-- //presentation -->



			<section class="sect__calculator gutters" id="calculator">
				<div class="container">
					<div class="calculator-row row row-nowrap row-gutters align-vertical-center align-horisontal-between gutter-right">
						
						<div class="calculator-content col-gutters">
							<h2 class="sect-title">Стоимость объекта<br><i>“под ключ”</i></h2>

							<div class="calculator">
								<div class="calculator-radios">
									<label class="calculator-radio">
										<input type="radio" name="type" value="5000" checked>
										<span>Интерьер</span>
									</label>

									<label class="calculator-radio">
										<input type="radio" name="type" value="20000">
										<span>Строительство</span>
									</label>

									<label class="calculator-radio">
										<input type="radio" name="type" value="50000">
										<span>Крупные объекты</span>
									</label>
								</div>

								<div class="calculator-notice text-center">
									<p>Проектирование + ремонт + мебелирование и декор </p>
								</div>

								<div class="calculator-range">
									<div class="calculator-range__value">
										<span class="calculator-range__value-label l-spacing">Квадратура объекта:</span>
										<span class="calculator-range__value-val" >
											<span class="js-calculator-range-value">1</span>
											<span class="sup">м&#178;</span>

										</span>
									</div>
									<div class="calculator-range__input js-calculator-range" data-max="1000"></div>
								</div>


								<p class="calculator-total">Стоимость : <span class="js-calculator-total">от 5000 руб.</span></p>


								<div class="links row align-vertical-center align-horisontal-between row-nowrap">
									<button class="btn js-open-popup-form-btn" type="button">Записаться на консультацию</button>

									<a href="page-calculator.html" class="link">Просчет под ключ</a>
								</div>
							</div>
						</div>

						{% include '../parts/components/content-img.html' %}
						{% include '../parts/components/simple-slider.html' %}
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect calculator -->

			{% include '../parts/sections/sect-work-steps.html' %}
			<!-- //sect work steps -->

			{% include '../parts/sections/sect-consultation.html' %}
			<!-- //sect work consultation -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>