{% include '../parts/head.html' %}
<body class="page-inner page-with-light-header">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		
		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-heading " >
				<div class="page-heading__content bg bg-with-overlay" style="background-image: url('img/promo/1.jpg');">
					<div class="container">
						<div class="promo-content text-center">
							<div class="container">
								<div class="promo-content__text">
									<h1>Наша команда</h1>
									<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
								</div>

								<a href="page-vacancies.html" class="btn btn-light js-open-popup-form-btn">Посмотреть вакансии</a>
							</div>
							<!-- //container -->
						</div>
					</div>
					<!-- //container -->
				</div>

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">

						<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
							<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="1" itemprop="position">
									<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Главная</span>
										</span>
									</a>
								</li>

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="2" itemprop="position">
									<a href="page-about.html" aria-label="О компании" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>О компании</span>
										</span>
									</a>
								</li>

								<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="3" itemprop="position">
									<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">Наша команда</span>
									</span>
								</li>
							</ul>
						</nav>

					</div>
					<!-- //container -->
				</div>
				<!-- //Breadcrumbs -->
				
			</section>

		
			<section class="sect__team gutter-bottom gutter-top-sm">
				<h2 class="sect-title container">Все сотрудники<br><i>WALLMAKE</i></h2>

				<div class="team team-members row align-horisontal-start">
					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/1.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александр Коненко</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
							</div>

							<blockquote class="team-member__blockquote l-spacing">
								<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
							</blockquote>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/2.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александр Коненко</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
								<p class="team-member__experience l-spacing">Опыт более 8 лет</p>
							</div>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/3.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александра Константинова</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
								<p class="team-member__experience l-spacing">Опыт более 8 лет</p>
							</div>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/2.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александр Коненко</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
								<p class="team-member__experience l-spacing">Опыт более 8 лет</p>
							</div>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/3.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александра Константинова</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
								<p class="team-member__experience l-spacing">Опыт более 8 лет</p>
							</div>
						</div>


					</div>
					<!-- //team member -->

				</div>
			</section>
			<!-- //sect team -->

			<section class="sect__vacancies">
				<div class="container">
					<h2 class="sect-title">Мы ищем в команду<br><i>ВАКАНСИИ</i></h2>
					<a href="page-vacancies.html" class="link-arrow">Посмотреть все вакансии</a>

					<ul class="vacancies">

						<li class="vacancy-card">
							<a href="page-vacancy.html" class="vacancy-card__link">
								<h3 class="vacancy-card__title">Проектирование комплексов</h3>

								<span class="vacancy-card__link-text">
									<span>ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ</span>
									<svg  viewBox="0 0 8 13"  xmlns="http://www.w3.org/2000/svg"><path d="M1 12.5L7 6.5L1 0.5" /></svg>
								</span>
							</a>
						</li>
						<!-- //card -->

						<li class="vacancy-card">
							<a href="page-vacancy.html" class="vacancy-card__link">
								<h3 class="vacancy-card__title">Проектирование комплексов</h3>

								<span class="vacancy-card__link-text">
									<span>ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ</span>
									<svg  viewBox="0 0 8 13"  xmlns="http://www.w3.org/2000/svg"><path d="M1 12.5L7 6.5L1 0.5" /></svg>
								</span>
							</a>
						</li>
						<!-- //card -->

						<li class="vacancy-card">
							<a href="page-vacancy.html" class="vacancy-card__link">
								<h3 class="vacancy-card__title">Проектирование комплексов</h3>

								<span class="vacancy-card__link-text">
									<span>ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ</span>
									<svg  viewBox="0 0 8 13"  xmlns="http://www.w3.org/2000/svg"><path d="M1 12.5L7 6.5L1 0.5" /></svg>
								</span>
							</a>
						</li>
						<!-- //card -->

						<li class="vacancy-card">
							<a href="page-vacancy.html" class="vacancy-card__link">
								<h3 class="vacancy-card__title">Проектирование комплексов</h3>

								<span class="vacancy-card__link-text">
									<span>ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ</span>
									<svg  viewBox="0 0 8 13"  xmlns="http://www.w3.org/2000/svg"><path d="M1 12.5L7 6.5L1 0.5" /></svg>
								</span>
							</a>
						</li>
						<!-- //card -->
					</ul>
				</div>
				<!-- //container -->
			</section>


			{% include '../parts/sections/sect-consultation.html' %}
			<!-- //sect work consultation -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>