{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Main -->
		<main class="main">

			<div class="pages container">
				<h1 class="title">Страницы</h1>
				<ul>
					<li><a target="_blank" href="http://winde.space/wallmake">Главная</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-about.html">О компании</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-team.html">Команда</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-vacancies.html">Вакансии</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-vacancy.html">Вакансия</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-catalog.html">Портфолио</a></li>


					<li><a target="_blank" href="http://winde.space/wallmake/page-blog.html">Блог</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-article.html">Шаблон статьи</a></li>

					<li><a target="_blank" href="http://winde.space/wallmake/page-building.html">Шаблон страницы "Строительство"</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-foundations.html">Шаблон страницы "Фундаменты"</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-interiors.html">Шаблон страницы "Интерьеры"</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-objects.html">Шаблон страницы "Крупные объекты"</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-projects.html">Шаблон страницы "Готовые проекты"</a></li>

					<li><a target="_blank" href="http://winde.space/wallmake/page-project.html">Шаблон страницы "Готовый проект" (сингл)</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/page-interior.html">Шаблон страницы "Интерьер" (сингл)</a></li>
					
					<li><a target="_blank" href="http://winde.space/wallmake/page-calculator.html">Опросник</a></li>
					<li><a target="_blank" href="http://winde.space/wallmake/404.html">404</a></li>
				</ul>
			</div>

		</main>
		<!-- //Main -->


	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>