{% include '../parts/head.html' %}
<body class="page-inner page-with-light-header">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		
		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__blog page-gutter-top">
				<h1 class="page-title container text-center">Blog.</h1>

				<div class="container">


					<div class="blog">



						<nav>
							<ul class="catalog-filter row align-horisontal-center">
								<li class="catalog-filter__category is-active"><a href="#">Все статьи</a></li>
								<li class="catalog-filter__category"><a href="#">Интерьеры</a></li>
								<li class="catalog-filter__category"><a href="#">Строительство</a></li>
								<li class="catalog-filter__category"><a href="#">Новости</a></li>
							</ul>
						</nav>

						<div class="articles-cards row align-horisontal-start row-gutters">

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->

							{% include '../parts/components/article-card.html' %}
							<!-- //article card -->


						</div>

						
					</div>

				</div>
				<!-- //container -->
			</section>


			{% include '../parts/sections/sect-consultation.html' %}
			<!-- //sect work consultation -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>