{% include '../parts/head.html' %}
<body >
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/preloader.html' %}

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-service">
			<section class="sect__promo">

				<div class="promo-content text-center">
					<div class="container">
						<div class="promo-content__text">
							<p>КВАРТИРЫ / ДОМА</p>
							<h1>Строительство</h1>
							<p>Дизайн интерьера — это нечто больше, чем простое планирование функциональности вашего пространства.</p>
						</div>

						<button type="button" class="btn btn-light js-open-popup-form-btn">Записаться на консультацию</button>
					</div>
					<!-- //container -->
				</div>

				{% include '../parts/components/promo-slider.html' %}
			</section>
			<!-- //sect promo -->

			<section class="sect__chapters">
				<div class="chapter-cards row align-horisontal-start">
					<article class="chapter-card text-center">
						<header class="chapter-card__header">
							<p class="chapter-card__category">СХЕМЫ / 2D / 3D</p>
							<h2 class="chapter-card__title">Проектирование</h2>
						</header>

						<div class="chapter-card__img">
							<img src="img/chapters/4.png" alt="">
						</div>

						<div class="chapter-card__information">
							<p class="chapter-card__price">$ 1,000 / метр</p>
							<div class="chapter-card__text">
								<p>Стоимость указана за проект подключ.<br> Входит : Проектирование, Ремонт, Мебелирование и декор </p>
							</div>
						</div>

						<footer class="chapter-card__footer">
							<a href="#" class="btn">Все этапы</a>
						</footer>
					</article>
					<!-- //card -->

					<article class="chapter-card text-center">
						<header class="chapter-card__header">
							<p class="chapter-card__category">внешняя / внутренняя</p>
							<h2 class="chapter-card__title">Стоительство</h2>
						</header>

						<div class="chapter-card__img">
							<img src="img/chapters/2.png" alt="">
						</div>

						<div class="chapter-card__information">
							<p class="chapter-card__price">$ 1,000 / метр</p>
							<div class="chapter-card__text">
								<p>Стоимость указана за проект подключ.<br> Входит : Проектирование, Ремонт, Мебелирование и декор </p>
							</div>
						</div>

						<footer class="chapter-card__footer">
							<a href="#" class="btn">Подробнее</a>
						</footer>
					</article>
					<!-- //card -->

					<article class="chapter-card text-center">
						<header class="chapter-card__header">
							<p class="chapter-card__category">Скидка на наполнение</p>
							<h2 class="chapter-card__title">Готовые проекты</h2>
						</header>

						<div class="chapter-card__img">
							<img src="img/chapters/5.png" alt="">
							
						</div>

						<div class="chapter-card__information">
							<p class="chapter-card__price">$ 1,000 / метр</p>
							<div class="chapter-card__text">
								<p>Стоимость указана за проект подключ.<br> Входит : Проектирование, Ремонт, Мебелирование и декор </p>
							</div>
						</div>

						<footer class="chapter-card__footer">
							<a href="#" class="btn">Каталог проектов</a>
						</footer>
					</article>
					<!-- //card -->


				</div>
			</section>
			<!-- //sect chapters -->

		

			{% include '../parts/sections/sect-portfolio.html' %}
			<!-- //sect portfolio -->

			<section class="sect__presentation">

				<div class="presentation-slider__wrapper">
					<div class="presentation-slider js-presentation-slider">
						<div class="presentation-slide bg" style="background-image: url('img/promo/1.jpg');">
							<div class="presentation-slide__content">
								<h2 class="sect-title"><i>РЕСТОРАН</i> POKEROOM</h2>
								<div class="presentation-slide__params row row-gutters align-horisontal-start">
									<div class="presentation-slide__param col-gutters">
										<span>2</span>
										<p>Этажа</p>
									</div>

									<div class="presentation-slide__param col-gutters">
										<span>286 <sup>м2</sup></span>
										<p>Площадь</p>
									</div>
								</div>
								<ul class="presentation-slide__description">
									<li>Фундамент: Многоуровневый, использовались ФСБ блоки.</li>
									<li>Стены: Кирпич (толщина кладки стен 51см, толщина перегородок 38 см)</li>
								</ul>

								<a href="#" class="btn btn-stroke">Посмотреть проект</a>
							</div>
						</div>

						<div class="presentation-slide bg" style="background-image: url('img/promo/2.jpg');">
							<div class="presentation-slide__content">
								<h2 class="sect-title"><i>РЕСТОРАН</i> POKEROOM</h2>
								<div class="presentation-slide__params row row-gutters align-horisontal-start">
									<div class="presentation-slide__param col-gutters">
										<span>2</span>
										<p>Этажа</p>
									</div>

									<div class="presentation-slide__param col-gutters">
										<span>286 <sup>м2</sup></span>
										<p>Площадь</p>
									</div>

									<div class="presentation-slide__param col-gutters">
										<span>2</span>
										<p>Этажа</p>
									</div>

									<div class="presentation-slide__param col-gutters">
										<span>286 <sup>м2</sup></span>
										<p>Площадь</p>
									</div>

									<div class="presentation-slide__param col-gutters">
										<span>2</span>
										<p>Этажа</p>
									</div>

									<div class="presentation-slide__param col-gutters">
										<span>286 <sup>м2</sup></span>
										<p>Площадь</p>
									</div>
								</div>
								<ul class="presentation-slide__description">
									<li>Фундамент: Многоуровневый, использовались ФСБ блоки.</li>
									<li>Стены: Кирпич (толщина кладки стен 51см, толщина перегородок 38 см)</li>
								</ul>

								<a href="#" class="btn btn-stroke">Посмотреть проект</a>
							</div>
						</div>
					</div>

					<div class="slider-pagination slider-pagination-light js-presentation-slider-pagination"></div>

				</div>
				<!-- //slider -->

				<button class="play-btn bg js-open-presentation-slider-btn" style="background-image: url('img/backgrounds/video.jpg');" type="button">
					<span class="container">
						<span class="sect-title basic-white-color text-center">Посмотреть презентацию <i>НАШИХ ПРОЕКТОВ</i></span>
						<span class="play-btn__ic">
							<svg  viewBox="0 0 60 60"  xmlns="http://www.w3.org/2000/svg">
								<path  d="M30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0ZM41 30.0369L26 40V20L41 30.0369Z" />
							</svg>
						</span>
					</span>
					<!-- //container -->
				</button>
			</section>

			
			<!-- //presentation -->

			<section class="sect__calculator gutters" id="calculator">
				<div class="container">
					<div class="calculator-row row row-nowrap row-gutters align-vertical-center align-horisontal-between gutter-right">
						
						<div class="calculator-content col-gutters">
							<h2 class="sect-title">Стоимость объекта<br><i>Строительство</i></h2>

							<div class="calculator">
								<div class="calculator-radios">
									<label class="calculator-radio">
										<input type="radio" name="type" value="5000" checked>
										<span>Проектирование</span>
									</label>

									<label class="calculator-radio">
										<input type="radio" name="type" value="20000">
										<span>Строительство</span>
									</label>

									<label class="calculator-radio">
										<input type="radio" name="type" value="50000">
										<span>Готовые проекты</span>
									</label>
								</div>

								<div class="calculator-notice text-center">
									<p>Проектирование 2D + 3D + Схемы</p>
								</div>

								<div class="calculator-range">
									<div class="calculator-range__value">
										<span class="calculator-range__value-label l-spacing">Квадратура объекта:</span>
										<span class="calculator-range__value-val" >
											<span class="js-calculator-range-value">1</span>
											<span class="sup">м&#178;</span>

										</span>
									</div>
									<div class="calculator-range__input js-calculator-range" data-max="1000"></div>
								</div>


								<p class="calculator-total">Стоимость : <span class="js-calculator-total">от 5000 руб.</span></p>


								<div class="links row align-vertical-center align-horisontal-between row-nowrap">
									<button class="btn" type="button js-open-popup-form-btn">Записаться на консультацию</button>

									<a href="page-building.html" class="link">Строительство под ключ</a>
								</div>
							</div>
						</div>

						{% include '../parts/components/content-img.html' %}
						{% include '../parts/components/simple-slider.html' %}
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect calculator -->

			{% include '../parts/sections/sect-work-steps.html' %}
			<!-- //sect work steps -->

			{% include '../parts/sections/sect-consultation.html' %}
			<!-- //sect work consultation -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>