{% include '../parts/head.html' %}
<body class="page-inner page-with-light-header">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		
		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-heading " >
				<div class="page-heading__content bg bg-with-overlay" style="background-image: url('img/promo/1.jpg');">
					<div class="container">
						<div class="promo-content text-center">
							<div class="container">
								<div class="promo-content__text">
									<h1>Присоединяйся к команде</h1>
									<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
								</div>

								<a href="page-vacancies.html" class="btn btn-light">Остальные вакансии</a>
							</div>
							<!-- //container -->
						</div>
					</div>
					<!-- //container -->
				</div>

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">

						<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
							<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="1" itemprop="position">
									<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Главная</span>
										</span>
									</a>
								</li>

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="2" itemprop="position">
									<a href="page-vacancies.html"  aria-label="Вакансии" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Вакансии</span>
										</span>
									</a>
								</li>


								<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="3" itemprop="position">
									<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">Вакансия</span>
									</span>
								</li>
							</ul>
						</nav>

					</div>
					<!-- //container -->
				</div>
				<!-- //Breadcrumbs -->
				
			</section>



			<section class="sect__vacancies gutter-top-sm">
				<div class="container">

					<div class="vacancy-heading">
						<h1 class="vacancy-title">Руководитель команды инженеров внедрения</h1>

						<button type="button" class="btn js-open-vacancy-form-btn">Откликнуться</button>
					</div>
					

					<div class="content vacancy ">
						<p>В VK Cloud Solutions мы используем передовые практики разработки, DevOps и управления, современный стек технологий. Нас немного, поэтому мы гибкие и быстро принимаем решения. Мы открыты для изменений и смелых идей — каждый сотрудник может влиять на содержание продуктов, а результаты своего труда ты будешь видеть сразу.</p>
						<p>В VK Cloud Solutions мы используем передовые практики разработки, DevOps и управления, современный стек технологий. Нас немного, поэтому мы гибкие и быстро принимаем решения. Мы открыты для изменений и смелых идей — каждый сотрудник может влиять на содержание продуктов, а результаты своего труда ты будешь видеть сразу.</p>
						<h2>Задачи</h2>
						<ul>
							<li>Далеко-далеко за словесными горами в стране.</li>
							<li>Страну щеке заманивший его меня!</li>
							<li>Напоивший грамматики выйти текст, безорфографичный.</li>
							<li>Первую на берегу великий запятых языкового.</li>
							<li>Рекламных это выйти своих моей!</li>
							<li>Необходимыми буквоград, однажды предупредила путь!</li>
							<li>Необходимыми лучше там своего! Страна.</li>
							<li>Себя, вскоре, рыбными. Гор, вскоре?</li>
							<li>Всемогущая журчит дал наш однажды!</li>
							<li>Составитель курсивных встретил то безорфографичный!</li>
						</ul>
						<p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные, тексты. Последний наш буквенных власти своих переписали назад переулка языком, эта, ему точках продолжил однажды приставка языкового пустился решила бросил своего.</p>
						<h2>Требования</h2>
						<ul>
							<li>Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты.</li>
							<li>Безорфографичный проектах они имеет грамматики большого маленький жизни ведущими страну.</li>
							<li>Подпоясал но знаках продолжил предупредила обеспечивает рыбными это не, переулка?</li>
							<li>Продолжил если заглавных страну грамматики ipsum пунктуация коварный переулка инициал.</li>
							<li>Себя переулка продолжил грустный большого! Сих, ты власти предупреждал повстречался.</li>
						</ul>

					</div>


				</div>
				<!-- //container -->
			</section>

			<section class="sect__vacancy-benefits gutter-top gutter-bottom ">
				<div class="container">
					<div class="content vacancy ">
						<h2>Мы предлагаем</h2>
						<ul>
							<li>Далеко-далеко за словесными горами в стране гласных и согласных, живут, рыбные тексты. Себя то предупреждал переулка от всех.</li>
							<li>Рыбными эта она рекламных толку сбить точках! Заглавных, толку которой, точках назад власти правилами имеет.</li>
							<li>Дорогу от всех заглавных необходимыми переписали единственное? Имеет речью она переписывается предупреждал ручеек, о, переулка если.</li>
							<li>Имени ipsum решила дорогу осталось, выйти от всех наш заглавных то речью заманивший вскоре первую рукопись?</li>
							<li>Залетают но путь большой рукописи даже всеми. Ее назад то своих однажды правилами вдали предложения!</li>
							<li>Семь, имеет толку проектах большого строчка на берегу текста они то коварных коварный семантика от всех свой?</li>
							<li>Сбить, своего большой, предупредила не за вдали маленькая курсивных, назад, на берегу ручеек залетают наш напоивший.</li>
							<li>Эта приставка, использовало. Вопроса рукопись, безорфографичный семантика маленькая но грамматики подпоясал составитель эта рыбного, собрал?</li>
							<li>За, это встретил журчит правилами продолжил переулка буквоград, агентство заманивший. Рот своих жизни, то за.</li>
							<li>Переписывается если приставка раз грамматики курсивных вопрос использовало дал, свой, гор злых, жизни рекламных родного.</li>
						</ul>
					</div>

					<button type="button" class="btn btn-light js-open-vacancy-form-btn">Откликнуться на эту вакансию</button>
				</div>
				<!-- //container -->
			</section>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/vacancy-popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>