{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo">

				<div class="promo-content text-center">
					<div class="container">
						<div class="promo-content__text">
							<h1>История компании</h1>
							<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
						</div>

						<button type="button" class="btn btn-light js-open-popup-form-btn">Записаться на консультацию</button>
					</div>
					<!-- //container -->
				</div>

				{% include '../parts/components/promo-slider.html' %}
			</section>
			<!-- //sect promo -->

			<section class="sect__slogan  grey-bg">
				<div class="container">
					<div class="content dark-text-color">
						<h2>Главная мысль компании</h2>
						<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.llit.llit.<br>Amet minim mollit non deserunt ullamco est sit aliqua doloVelit officia consequat duis enim velit mollit.</p>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect slogan -->

			<section class="sect__advantages">
				<h2 class="sect-title container">Преимущества</h2>

				<div class="advantages-slider__wrapper">
					<div class="advantages-slider js-advantages-slider">
						<div class="advantage" >
							<div class="advantage-bg bg" style="background-image: url('img/advantages/1.jpg');"></div>
							<div class="advantage-content">
								<h3 class="advantage-title">СТРОИМ ДОМА НА 30% БЫСТРЕЕ</h3>
								<p>Применяем экологически чистые материалы, опробованные нами и зарекомендовавшими себя на практике</p>
							</div>
						</div>
						<!-- //slide -->

						<div class="advantage" >
							<div class="advantage-bg bg" style="background-image: url('img/advantages/2.jpg');"></div>
							<div class="advantage-content">
								<h3 class="advantage-title">ЭКОЛОГИЧЕСКИ ЧИСТЫЕ МАТЕРИАЛЫ</h3>
								<p>Применяем экологически чистые материалы, опробованные нами и зарекомендовавшими себя на практике</p>
							</div>
						</div>
						<!-- //slide -->

						<div class="advantage" >
							<div class="advantage-bg bg" style="background-image: url('img/advantages/3.jpg');"></div>
							<div class="advantage-content">
								<h3 class="advantage-title">ЕЖЕДНЕВНЫЙ ОТЧЕТ НА YOUTUBE</h3>
								<p>Применяем экологически чистые материалы, опробованные нами и зарекомендовавшими себя на практике</p>
							</div>
						</div>
						<!-- //slide -->

						<div class="advantage" >
							<div class="advantage-bg bg" style="background-image: url('img/advantages/2.jpg');"></div>
							<div class="advantage-content">
								<h3 class="advantage-title">ГАРАНТИЯ НЕ НА СЛОВАХ, А В ДОГОВОРЕ</h3>
								<p>Применяем экологически чистые материалы, опробованные нами и зарекомендовавшими себя на практике</p>
							</div>
						</div>
						<!-- //slide -->


					</div>
					<div class="slider-pagination rectangles-view js-advantages-slider-pagination container"></div>
				</div>
			</section>
			<!-- //sect advantages -->

			<section class="sect__team gutter-bottom">
				<h2 class="sect-title container">Наша команда</h2>

				<div class="team row align-horisontal-start">
					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/1.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александр Коненко</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
								<!-- <p class="team-member__experience l-spacing">CEO и Руководитель проектов</p> -->
							</div>

							<blockquote class="team-member__blockquote l-spacing">
								<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
							</blockquote>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/2.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александр Коненко</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
								<p class="team-member__experience l-spacing">Опыт более 8 лет</p>
							</div>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/3.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Александра Константинова</h3>
								<p class="team-member__position l-spacing">CEO и Руководитель проектов</p>
								<p class="team-member__experience l-spacing">Опыт более 8 лет</p>
							</div>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/4.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Разрешение на строительство</h3>
								<p class="team-member__position l-spacing">ГОСТ: 214-А123-Б2</p>
							</div>

							<div class="document">
								<span class="document-name l-spacing" title="File_name_file.docx">File_name_file.docx</span>
								<a href="#" target="_blank" class="link l-spacing is-active">Скачать</a>
							</div>
						</div>


					</div>
					<!-- //team member -->

					<div class="team-member row row-nowrap">
						<div class="team-member__photo thumbnail col-w-50">
							<img src="img/team/4.jpg" alt="">
						</div>
						<div class="team-member__content col-w-50">
							<div class="team-member__information">
								<h3 class="team-member__name">Разрешение на строительство</h3>
								<p class="team-member__position l-spacing">ГОСТ: 214-А123-Б2</p>
							</div>

							<div class="document">
								<span class="document-name l-spacing" title="File.docx">File.pdf</span>
								<a href="#" target="_blank" class="link l-spacing is-active">Скачать</a>
							</div>
						</div>

					</div>
					<!-- //team member -->
				</div>
			</section>
			<!-- //sect team -->

			{% include '../parts/sections/sect-portfolio.html' %}
			<!-- //sect portfolio -->



			{% include '../parts/sections/sect-work-steps.html' %}
			<!-- //sect work steps -->

			{% include '../parts/sections/sect-consultation.html' %}
			<!-- //sect work consultation -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>