{% include '../parts/head.html' %}
<body class="page-inner page-with-light-header">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		
		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-heading " >
				<div class="page-heading__content bg bg-with-overlay" style="background-image: url('img/promo/1.jpg');">
					<div class="container">
						<div class="promo-content text-center">
							<div class="container">
								<div class="promo-content__text">
									<h1>Портфолио</h1>
									<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
								</div>

								<button type="button" class="btn btn-light js-open-popup-form-btn">Записаться на консультацию</button>
							</div>
							<!-- //container -->
						</div>
					</div>
					<!-- //container -->
				</div>

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">

						<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
							<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="1" itemprop="position">
									<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Главная</span>
										</span>
									</a>
								</li>

								<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="2" itemprop="position">
									<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">Портфолио</span>
									</span>
								</li>
							</ul>
						</nav>

					</div>
					<!-- //container -->
				</div>
				<!-- //Breadcrumbs -->
				
			</section>

			<section class="sect__catalog gutter-top-sm">


				<div class="container">


					<div class="catalog">
						
						<nav>
							<ul class="catalog-filter row align-horisontal-center">
								<li class="catalog-filter__category is-active" ><a href="#">Все</a></li>
								<li class="catalog-filter__category"><a href="#">Интерьеры</a></li>
								<li class="catalog-filter__category"><a href="#">Строительство</a></li>
								<li class="catalog-filter__category"><a href="#">Крупные объекты</a></li>
								<li class="catalog-filter__category"><a href="#">Готовые проекты</a></li>
								<li class="catalog-filter__category"><a href="#">Коммерческие объекты</a></li>
							</ul>
						</nav>

						<div class="projects-cards row align-horisontal-start">
							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->

							<article class="project-card__wrapper col-w-33">
								{% include '../parts/components/project-card-portfolio.html' %}
							</article>
							<!-- //catalog item -->


						</div>
					</div>

				</div>
				<!-- //container -->
			</section>


			{% include '../parts/sections/sect-consultation.html' %}
			<!-- //sect work consultation -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>