{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo">

				<div class="promo-content text-center">
					<div class="container">
						<div class="promo-content__text">
							<p>ИНТЕРЬЕРЫ / КОММЕРЧЕСКИЙ ПРОЕКТ</p>
							<h1>Строительство коттеджа на 8 Просеке,<br> общей площадью 700 м2</h1>
							<ul>
								<li>Разработан полный рабочий  Дизайн-проект</li>
								<li>Выполнены ремонтно-отделочные работы, закуплена мебель и чистовой материал</li>
							</ul>
						</div>

						<button type="button" class="btn btn-light js-open-popup-form-btn">Записаться на консультацию</button>
					</div>
					<!-- //container -->
				</div>

				{% include '../parts/components/promo-slider.html' %}
			</section>
			<!-- //sect promo -->

			<section class="sect__description gutter-top gutter-bottom  grey-bg">
				<div class="container">
					<div class="project-description row row-nowrap dark-text-color align-vertical-start">

						<div class="project-params__wrapper">


							<div class="project-params row row-gutters align-horisontal-start">

								<div class="project-param col-gutters">
									<span>12</span>
									<p>Этажей</p>
								</div>

								<div class="project-param col-gutters">
									<span>21 286 <sup>м2</sup></span>
									<p>Площадь</p>
								</div>
							</div>


						</div>

						<div class="project-description__text content">
							<ul>
								<li>Фундамент: Многоуровневый, использовались ФСБ блоки.</li>
								<li>Стены: Кирпич (толщина кладки стен 51 см, толщина перегородок 38 см).</li>
								<li>Кровля: Односкатная металлочерепица.</li>
								<li>Окна: Из алюминиевого профиля Schuco + рольставни на окнах первого этажа Alutech.</li>
								<li>Отопление: Медные трубы.</li>
								<li>Фасад: Утепленный, с деревянным и плиточным декором.</li>
								<li>На заднем дворе: Бассейн 13*8м., глубиной от 1,8 до 2,2 м.</li>
								<li>На переднем дворе: Залит фундамент под гараж на 3 машины + комната охраны (17*6,5).</li>
								<li>На данный момент ведется внутренняя отделка!</li>
							</ul>
						</div>
					</div>

				</div>
				<!-- //container -->
			</section>
			<!-- //sect slogan -->


			<section class="sect__portfolio gutter-bottom gutter-top">
				<div class="container">
					<h2 class="sect-title">Посмотрите<br><i>ГАЛЕРЕЮ ОБЪЕКТА</i></h2>


					<div class="portfolio-slider__wrapper">
						<div class="portfolio-slider js-portfolio-slider">
							<a href="img/img.jpg" class="project-card thumbnail" data-fancybox="gallery">
								<img src="img/img.jpg" alt="">
							</a>
							<!-- //slide -->

							<a href="img/img.jpg" class="project-card thumbnail" data-fancybox="gallery">
								<img src="img/img.jpg" alt="">
							</a>
							<!-- //slide -->

							<a href="img/img.jpg" class="project-card thumbnail" data-fancybox="gallery">
								<img src="img/img.jpg" alt="">
							</a>
							<!-- //slide -->

							<a href="img/img.jpg" class="project-card thumbnail" data-fancybox="gallery">
								<img src="img/img.jpg" alt="">
							</a>
							<!-- //slide -->

							<a href="img/img.jpg" class="project-card thumbnail" data-fancybox="gallery">
								<img src="img/img.jpg" alt="">
							</a>
							<!-- //slide -->
						</div>

						<div class="slider-pagination rectangles-view js-portfolio-slider-pagination"></div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect portfolio -->

			<section class="sect__another-projects gutter-bottom gutter-top">
				<div class="container">
					<div class="another-projects">
						<h2 class="sect-title">Похожие объекты<br><i>СТРОИТЕЛЬСТВО</i></h2>
						<a href="#" class="link-arrow">Посмотреть все</a>

						<div class="catalog">
							<div class="projects-cards row align-horisontal-start">
								<article class="project-card__wrapper col-w-33">
									{% include '../parts/components/project-card.html' %}
								</article>
								<!-- //catalog item -->

								<article class="project-card__wrapper col-w-33">
									{% include '../parts/components/project-card.html' %}
								</article>
								<!-- //catalog item -->

								<article class="project-card__wrapper col-w-33">
									{% include '../parts/components/project-card.html' %}
								</article>
								<!-- //catalog item -->

								<article class="project-card__wrapper col-w-33">
									{% include '../parts/components/project-card.html' %}
								</article>
								<!-- //catalog item -->

							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__calculator gutters" id="calculator">
				<div class="container">
					<div class="calculator-row row row-nowrap row-gutters align-vertical-center align-horisontal-between gutter-right">
						
						<div class="calculator-content col-gutters">
							<h2 class="sect-title">Стоимость объекта<br><i>Строительство</i></h2>

							<div class="calculator">
								<div class="calculator-radios">
									<label class="calculator-radio">
										<input type="radio" name="type" value="5000" checked>
										<span>Проектирование</span>
									</label>

									<label class="calculator-radio">
										<input type="radio" name="type" value="20000">
										<span>Строительство</span>
									</label>

									<label class="calculator-radio">
										<input type="radio" name="type" value="50000">
										<span>Готовые проекты</span>
									</label>
								</div>

								<div class="calculator-notice text-center">
									<p>Проектирование 2D + 3D + Схемы</p>
								</div>

								<div class="calculator-range">
									<div class="calculator-range__value">
										<span class="calculator-range__value-label l-spacing">Квадратура объекта:</span>
										<span class="calculator-range__value-val" >
											<span class="js-calculator-range-value">1</span>
											<span class="sup">м&#178;</span>

										</span>
									</div>
									<div class="calculator-range__input js-calculator-range" data-max="1000"></div>
								</div>


								<p class="calculator-total">Стоимость : <span class="js-calculator-total">от 5000 руб.</span></p>


								<div class="links row align-vertical-center align-horisontal-between row-nowrap">
									<button class="btn js-open-popup-form-btn" type="button">Записаться на консультацию</button>

									<a href="page-building.html" class="link">Строительство под ключ</a>
								</div>
							</div>
						</div>

						{% include '../parts/components/content-img.html' %}
						{% include '../parts/components/simple-slider.html' %}
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect calculator -->

			{% include '../parts/sections/sect-work-steps.html' %}
			<!-- //sect work steps -->

			{% include '../parts/sections/sect-consultation.html' %}
			<!-- //sect work consultation -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>