<article class="article-card col-gutters">
	<a href="page-article.html" class="article-card__thumbnail thumbnail">
		<img src="img/art-1.jpg" alt="">
	</a>
	<div class="article-card__content">
		<div class="tags">
			<span class="tag">ИНТЕРЬЕР</span>
			<span class="tag">Строительство</span>
		</div>

		<h2 class="article-card__title">
			<a href="page-article.html">Интервью с Мистером Бинго, иллюстратором, которому платят за...</a>
		</h2>

		<div class="article-card__preview">
			<p>Удобство и простота использования — вот ключевые ценности корпоративного бренда холдинга.</p>
		</div>
		<p class="article-date">12 Декабря,2019</p>

		<a href="page-article.html" class="link is-active">Читать</a>
	</div>
</article>