<!-- Popup -->
<div class="popup js-popup js-popup-form">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn-close js-close-popup-btn" type="button">
				<svg  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.5716 1.42857L1.42871 18.5714M1.42871 1.42857L18.5716 18.5714"/>
				</svg>

			</button>
			<!-- Popup content-->
			<div class="popup__content">
				<p class="popup__title">Заполните форму</p>
				<p class="popup__text">Обработка займет не более 10 минут!</p>
				
				<form class="form">

					<div class="form-group ">
						<input type="text" class="form-input-rounded form-input-dark js-required-input" placeholder="Имя*" name="name">
					</div>

					<div class="form-group ">
						<input type="tel" class="form-input-rounded form-input-dark js-required-input" placeholder="Телефон*" name="phone">
						<p class="form-input__notice">Телефон должен начинаться на +7</p>
					</div>

					<div class="form-group ">
						<button class="btn btn-wide l-spacing" type="submit">Получить консультацию</button>
					</div>


					<p class="form-notice l-spacing">Нажимая на кнопку, вы принимаете Положение и Согласие на обработку персональных данных.</p>
				</form>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->

<!-- Thanks -->
<div class="popup popup-thanks js-popup js-popup-thanks">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn-close js-close-popup-btn" type="button">
				<svg  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.5716 1.42857L1.42871 18.5714M1.42871 1.42857L18.5716 18.5714"/>
				</svg>

			</button>
			<!-- Popup content-->
			<div class="popup__content">
				<p class="popup__title">Спасибо!</p>
				<p class="popup__text">Ваша заявка отправлена,<br> в течении 10 минут вам поступит звонок.</p>
				
				<a href="index.html" class="btn">Перейти на Главную</a>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Thanks -->