<div class="promo-slider__wrapper">
	<div class="promo-slider js-promo-slider">
		<div class="promo-slide" style="background-image: url('img/promo/1.jpg');"></div>
		<div class="promo-slide" style="background-image: url('img/promo/2.jpg');"></div>
	</div>

	<div class="promo-slider__controls">
		<button class="promo-slider__btn promo-slider__btn-prev js-promo-slider-btn-prev" type="button">
			<svg viewBox="0 0 14 24"  xmlns="http://www.w3.org/2000/svg">
				<path d="M12.1429 22.2857L1.85717 11.9999L12.1429 1.71423" />
			</svg>

		</button>
		<button class="promo-slider__btn promo-slider__btn-next js-promo-slider-btn-next" type="button">
			<svg viewBox="0 0 14 24"  xmlns="http://www.w3.org/2000/svg">
				<path d="M1.85712 22.2857L12.1428 11.9999L1.85712 1.71423" />
			</svg>

		</button>
	</div>

</div>