.breadcrumbs
	margin-top 20px
	li
		display inline-block
		position relative
		margin-right 4px
		&:last-child
			margin-right 0
			
				
			
	a
		position relative
		display inline-block
		font 13px $Med
		color #333
		&:hover
			color $gold-color
		&:after
			content '/'
			color inherit
			
	.is-active
		color $text-color
		font 13px $Med