.link
	display inline-block
	position relative
	padding-bottom 2px
	overflow hidden
	color inherit
	font-size inherit
	font-family inherit
	line-height inherit
	white-space nowrap
	&:before
		pseudo()
		position absolute
		left 0
		bottom 0
		height 2px
		width 100%
		transition transform .17s ease-in-out, background-color .17s ease-in-out
		transform translateX(-101%)
		background-color $gold-color
	&:hover,
	&.is-active
		&:before
			transform translateX(0)
			
	&.is-active
		&:hover
			&:before
				background-color $gold-color
			
	&-arrow
		display inline-block
		position relative
		color $dark-text-color
		font 14px $Med
		&:before
			pseudo()
			position absolute
			top 50%
			width 24px
			height 13px
			background url('../img/icons/svg/arrow.svg') 50% no-repeat / contain
			left 100%
			margin-left 20px
			transform translateY(-50%)
			transition transform .17s ease-in-out
		&:hover
			&:before
				transform translate(5px, -50%)
				
	&-back
		display inline-block
		position relative
		font 15px $Med
		line-height 1
		color $dark-text-color
		padding-left 55px
		&:before
			pseudo()
			position absolute
			vertical-center()
			left 0
			width 39px
			height 15px
			transition transform .17s ease-in-out
			background url('../img/icons/svg/arrow-lg.svg') 50% no-repeat / contain
		&:hover
			&:before
				transform translate(-5px, -50%)
		

.links
	.btn
		width 100%
		max-width 275px
		padding-left 10px
		padding-right 10px
	.link
		margin-left 30px
		font-size 14px
		flex none

		

.socials
	display flex
	align-items center
	flex-wrap nowrap
	&-label
		font 12px $SemiBold
		margin-right 30px
		display inline-block
		
		
	&-list
		white-space nowrap
		font-size 0
		height 24px
		li
			display inline-block
			margin-right 6px
			&:last-child
				margin-right 0
				
		a
			display block
			width 24px
			height 24px
			svg
				svg()
				fill $basic-black-color
			&:hover
				svg
					fill $dark-text-color
	

.subscribe-form
	width 100%
	flex 1
	max-width 420px
	&__title
		padding-left 16px
		background url('../img/icons/svg/envelope.svg') left center no-repeat / 12px 12px
		margin-bottom 40px