.popup 
	position fixed
	position-center()
	z-index 90
	width 100%
	height 100%
	display none
	&__overflow
		position absolute
		left 0
		top 0
		width 100%
		backface-visibility hidden
		-webkit-backface-visibility hidden
		height 100%
		overflow auto
		box-sizing border-box
		-webkit-overflow-scrolling touch
		z-index 105
		background-color rgba($popup-overlay-bg, $popup-overlay-opacity)
		padding 30px 15px
		text-align center
		white-space nowrap
		&:before
			pseudo()
			vertical-align middle
			width 0
			height 100%
	&__body
		width 100%
		max-width 440px
		background-color $popup-body-bg
		padding 50px 60px
		display inline-block
		vertical-align middle
		position relative
		color $dark-text-color
		white-space normal
		
	&__title
		font-size 24px
		margin-bottom 12px
	&__text
		margin-bottom 32px
		font-size 12px
		
	.form-notice
		color inherit
		font-size 12px
		line-height 15px
		margin-top 20px
		
	.form-group
		margin-bottom 8px
		
		.btn

			margin 24px auto 0
			max-width 250px
	

.popup-thanks
	.popup__body
		padding-left 20px
		padding-right 20px
	.popup__title
		margin-bottom 32px
	.popup__text
		font-size 16px
		


.popup-wide
	.popup__body
		max-width 970px
		text-align left
		
	.sect-title
		text-align center
		margin-bottom 32px
		

.popup__content
	.form-groups
		margin-left -8px
		margin-right -8px
		
	.form-group
		padding-left 8px
		padding-right 8px
		margin-bottom 24px
		

		
.popup-vacancy
	.form-group
		.btn
			margin-top 0
			max-width 200px
		.form-notice
			margin-top 0
			margin-left 40px
			font 12px $Reg
			color $dark-text-color
		
.form-radios
	padding-left 16px
	margin-top 15px