.slick-track
	display flex
	flex-wrap nowrap
	.slick-slide
		float none !important
	.promo-slide,
	.story-slide
		display block !important
		
.slick-dotted.slick-slider
	margin-bottom 0
		
.slider-pagination
	margin-top 25px
	.slick-dots
		bottom auto
		position relative
		height 8px
		display flex !important
		justify-content flex-start
	li
		width 8px
		height 8px
		margin 0
		margin-right 12px
		&:last-child
			margin-right 0
		button
			width 100%
			height 100%
			padding 0
			border-radius 50%
			background-color #c4c4c4
			&:before,
			&:after
				display none
				
		&.slick-active
			button
				background-color $dark-text-color
		
	&.rectangles-view
		li
			width 56px
			height 4px
			button
				border-radius 0
				
	&-light
		li
			button
				background-color rgba($basic-white-color, .4)
			&.slick-active
				button
					background-color $basic-white-color

			

// Promo



.promo-slide
	height 100%
	position relative
	overflow hidden
	flex-col-center()
	background-size 0
	.container
		position relative
		z-index 2
	&:after
		pseudo()
		bg(50%, 50%)
		position absolute
		fullSize()
		background-image inherit
		transition transform 7s ease-in-out
		transform scale(1,1)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($overlay-bg, .5)
		z-index 1
		
.promo-slider
	height 100%
	*
		height 100%
	&__wrapper
		position absolute
		top 0
		left 0
		width 100%
		height 100%

		
		.slider-pagination
			position absolute
			horisontal-center()
			bottom 40px
			z-index 3
			
		
	.slick-current
		.promo-slide:after
			transform scale(1.15, 1.15)
			
	&__controls
		display flex
		flex-wrap nowrap
		position absolute
		z-index 3
		bottom 60px
		right 60px
	&__btn
		width 48px
		height 48px
		flex-col-center()
		border 1px solid $basic-white-color
		margin-right 30px
		&:last-child
			margin-right 0
		svg
			svg()
			width 14px
			height 24px
			fill none
			stroke $basic-white-color
			stroke-width 2px
			stroke-linecap round
			stroke-linejoin round
		&:hover
			background-color $basic-white-color
			svg
				stroke $basic-black-color
				

// Story 
.simple-slider
	&__wrapper
		width 100%
		flex 1
		max-width 510px
		
.simple-slide
	padding-top 129.5%
	display block !important
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($overlay-bg, .3)
		z-index 1
	
// portfolio
.portfolio
	&-slider
		&__wrapper
			margin-top 40px
			width 1480px
			
		.slick-slide
			margin-right 20px
			
// Advantages
.advantages-slider
	.slick-slide
		margin-right 20px
		min-height 560px
	.slick-current
		.advantage
			height 560px
			
			p
				display block
				
	&__wrapper
		.slider-pagination
			margin-top 40px
			
// Presentations
.presentation-slider
	.slick-slide
		height auto
		> div
			height 100%
			
	&__wrapper
		.slider-pagination
			position absolute
			horisontal-center()
			bottom 30px
			z-index 1
			

.presentation-slide
	padding 100px 40px 60px
	display flex !important
	justify-content flex-end
	position relative
	height 100%
	&:before
		pseudo()
		position absolute
		fullSize()
		transition background-color .17s ease-in-out
		background-color rgba($overlay-bg, .2)
		z-index 1
		
	&__content
		position relative
		z-index 2
		transition all .17s ease-in-out
		background-color rgba(#F2F5F8, .9)
		width 480px
		padding 60px
		&:hover
			background-color rgba($accent-color, .9)
			color $basic-white-color
			
			.sect-title
				color inherit
			
			.btn-stroke
				border-color $basic-white-color
				background-color $basic-white-color
				&:hover
					background-color transparent
	
	
	&__description
		margin-bottom 40px
		font-size 16px
		li
			margin-bottom 15px
			&:last-child
				margin-bottom 0		
	
