<footer class="footer">
	<div class="container">
		<a href="index.html" class="logo">
			<img src="img/logo-dark.svg" alt="Wallmake">
		</a>

		<div class="footer-center">
			<div class="row align-horisontal-between footer__row row-gutters">
				<nav class="footer-nav col-gutters">
					<ul>
						<li><a href="index.html">Главная</a></li>
						<li><a href="page-catalog.html">Каталог</a></li>
						<li><a href="page-.html">Интерьеры</a></li>
						<li><a href="page-.html">Строительство</a></li>
						<li><a href="page-.html">Проекты домов</a></li>
						<li><a href="page-.html">Крупные объекты</a></li>
						<li><a href="page-.html">Все услуги</a></li>
						<li><a href="page-about.html">О компании</a></li>
						<li><a href="page-blog.html">Блог</a></li>
						<li><a href="mailto:hi@wallmake.com">hi@wallmake.com</a></li>
						<li><a href="tel:+7 (927) 699 69 98">+7 (927) 699 69 98</a></li>
					</ul>
				</nav>
				<div class="col-gutters subscribe-form">
					<p class="subscribe-form__title">Отправить email</p>

					<form>
						<div class="form-group">
							<input type="email" placeholder="Введите свою почту" name="email" class="form-input js-required-input">
						</div>
						<button class="btn" type="submit">Подписаться</button>
					</form>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="row align-horisontal-between align-vertical-center footer__row row-gutters">

				
				<nav class="footer-bottom-nav col-gutters">
					<ul>
						<li><a href="page-content.html">Политика конфиденциальности</a></li>
						<li><a href="page-content.html">Соглашение</a></li>
					</ul>
				</nav>

				<div class="socials col-gutters">
					<span class="socials-label">Соц. сети</span>

					{% include '../components/socials.html' %}
				</div>


				<p class="copyright col-gutters">&copy;2022 LLC WallMake</p>

			</div>
		</div>
	</div>
	<!-- //container -->
</footer>
