<section class="sect__work-steps gutter-bottom">
	<div class="container">
		<h2 class="sect-title">Этапы работы<br><i>СДАЧА ПРОЕКТА</i></h2>

		<div class="work-steps row align-horisontal-start">
			<div class="work-step__wrapper col-w-25">
				<div class="work-step">
					<h3 class="work-step__title"><i>01</i> ТОЧНЫЙ РАССЧЕТ</h3>
					<div class="work-step__img">
						<img src="img/steps/1.png" alt="">
					</div>
					<p>Разработанная нами программа, рассчитывает абсолютно любой дом с точностью до 98%. Выезд прораба и менеджера проекта</p>
				</div>
			</div>
			<!-- //step -->

			<div class="work-step__wrapper col-w-25">
				<div class="work-step">
					<h3 class="work-step__title"><i>02</i> ПОДПИСАНИЕ ДОГОВОРА</h3>
					<div class="work-step__img">
						<img src="img/steps/2.png" alt="">
					</div>
					<p>5 лет гарантии и постгарантийное облуживание</p>
				</div>
			</div>
			<!-- //step -->

			<div class="work-step__wrapper col-w-25">
				<div class="work-step">
					<h3 class="work-step__title"><i>03</i> СТРОИТЕЛЬСТВО, РЕМОНТные работы, МЕБЕЛИРОВКА, декор</h3>
					<div class="work-step__img">
						<img src="img/steps/3.png" alt="">
					</div>
					<p>Видео отчет на каждом этапе. Фиксированные сроки. Мебель и декор с дополнительной скидкой</p>
				</div>
			</div>
			<!-- //step -->

			<div class="work-step__wrapper col-w-25">
				<div class="work-step">
					<h3 class="work-step__title"><i>04</i> ПЕРЕЕЗД  в  готовое пространство</h3>
					<div class="work-step__img">
						<img src="img/steps/4.png" alt="">
					</div>
					<p>Помощь в переезде</p>
				</div>
			</div>
			<!-- //step -->
		</div>

		<div class="btn-wrapper text-center">
			<a href="#" class="btn">Рассчитать стоимость прямо сейчас</a>
		</div>
	</div>
	<!-- //container -->
</section>