<section class="sect__consultation gutter-top gutter-bottom">
	<div class="container">
		<h2 class="sect-title">Получите консультацию</h2>
		<div class="consultation-form">
			<h3 class="consultation-form__title l-spacing">Заполните форму и менеджер перезвонит вам</h3>

			<form>

				<div class="form-groups row align-horisontal-start">
					<div class="form-group col-w-33">

						<input type="text" class="form-input-rounded js-required-input" placeholder="Имя*" name="name">

					</div>
					<div class="form-group col-w-33">

						<input type="tel" class="form-input-rounded js-required-input" placeholder="Телефон*" name="phone">
						
					</div>
					<div class="form-group col-w-33">
						<button class="btn btn-wide btn-light l-spacing" type="button">Получить консультацию</button>
					</div>
				</div>
				
				<p class="form-notice l-spacing">Нажимая на кнопку, вы принимаете Положение и Согласие на обработку персональных данных.</p>
			</form>
		</div>
	</div>
	<!-- //container -->
</section>