	<section class="sect__portfolio gutter-bottom">
		<div class="container">
			<h2 class="sect-title">Реализованные<br><i>объекты</i></h2>
			<a href="page-catalog.html" class="link-arrow">Посмотреть все</a>

			<div class="portfolio-slider__wrapper">
				<div class="portfolio-slider js-portfolio-slider">
					{% include '../components/project-card.html' %}
					<!-- //slide -->

					{% include '../components/project-card.html' %}
					<!-- //slide -->

					{% include '../components/project-card.html' %}
					<!-- //slide -->

					{% include '../components/project-card.html' %}
					<!-- //slide -->

					{% include '../components/project-card.html' %}
					<!-- //slide -->

					{% include '../components/project-card.html' %}
					<!-- //slide -->
				</div>

				<div class="slider-pagination rectangles-view js-portfolio-slider-pagination"></div>
			</div>
		</div>
		<!-- //container -->
	</section>