.disable-hover,
.disable-hover * 
	pointer-events none !important

.gutters
	padding $gutters
	
.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-bottom
	&-right
		padding-right 95px

	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%

.sect-title
	color $dark-text-color
	font 30px $Med
	margin-bottom 40px
	i, em
		font-family $LItalic
		text-transform uppercase
		
.page-title
	font 48px $Bold
	line-height 65px
	margin-bottom 30px
	color $dark-text-color
	
.dark-text-color
	color $dark-text-color
		
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.basic-white-color
	color $basic-white-color

.basic-black-color
	color $basic-black-color
	
.light-text-color
	color $light-text-color
	
.dark-text-color
	color $dark-text-color
	
.accent-color
	color $accent-color
	
.content-img
	display block
	margin 0 auto
	max-width 100%
	max-height 100%
	width auto
	height auto
	
.bg
	bg(50%, 50%)
	
.bg-with-overlay
	position relative
	bg(50%, 50%)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($bg-overlay-color, $bg-overlay-opacity)
	.container
		position relative
		z-index 2
		
.color-bg
	background-color $color-bg
	
.grey-bg
	background-color $grey-bg
	
.visually-hidden
	position absolute
	clip rect(0 0 0 0)
	width 1px
	height 1px
	margin -1px
	z-index -999
	opacity 0
	visiiblity hidden
	
.thumbnail
	position relative
	overflow hidden
	width 100%
	padding-top 50%
	img
		display block
		position absolute
		position-center()
		width 100%
		height 100%
		object-fit cover
		will-change transform
		transition transform .17s ease-in-out

.content
	color $dark-text-color
	font-size 20px
	line-height 29px
	*
		&:last-child
			margin-bottom 0
			
	.wp-caption
		width 100%
		margin-bottom 40px
		
	.wp-caption-text
		text-align center
		margin-top -24px
		color $text-color
		
	img
		display block
		float none !important
		width calc(100% + 100px)
		height auto
		margin-bottom 40px
		margin-left -50px
		margin-right -50px
			
	h2,h3
		font 24px $Bold
		margin-bottom 24px
		
	strong, b
		font-family $Bold
		

	ul, ol, p
		margin-bottom 40px
		li
			display block
			position relative
			margin-bottom 24px
			
			&:last-child
				margin-bottom 0
				
	a
		color inherit
		border-bottom 2px solid
		&:hover
			border-color $gold-color
				
	ul
		li
			
			&:before
				pseudo()
				width 6px
				height 6px
				border-radius 50%
				margin-right 8px
				background-color $gold-color
				vertical-align middle
				
	ol
		counter-reset list
		li
			&:before
				counter-increment list
				content counter(list) ". "
				display inline-block
				margin-right 4px
				
	blockquote
		text-align center
		margin-bottom 40px
		font 40px $Bold
		line-height 48px
		position relative
		margin-left -50px
		margin-right -50px
		&:before
			pseudo()
			position absolute
			right 100%
			width 32px
			height 32px
			margin-right 85px
			top 11px
			background url('../img/icons/svg/quote.svg') 50% no-repeat / contain
		p
			margin-bottom 24px
			&:last-child
				margin-bottom 0


.l-spacing
	letter-spacing 0.02em
	
.page-inner
	.main
		padding-top 146px
		
.sect__consultation
	background-color $consultation-section-bg
	text-align center
	color $basic-white-color
	.sect-title
		color inherit
		
.consultation-form
	margin -32px auto 0
	&__title
		font 14px $Reg
		margin-bottom 40px
		color #F3F3F3
		

.hidden-desktop
	display none