//  Fonts 
$Italic = 'NotoSans-Italic', Arial, sans-serif
$Light = 'NotoSans-Light', Arial, sans-serif
$LItalic = 'NotoSans-LightItalic', Arial, sans-serif
$Reg = 'NotoSans-Regular', Arial, sans-serif
$Med = 'NotoSans-Medium', Arial, sans-serif
$Bold = 'NotoSans-Bold', Arial, sans-serif
$SemiBold = 'NotoSans-SemiBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Med
$body-font-size = 16px
$body-line-height = 24px

// Sizes
$container-width = 1210px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 100px 0 70px
$gutter-top = 80px
$gutter-bottom = 80px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #514A43

$text-color = #7A7A7A
$dark-text-color = #4C4C4C

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #F3F3F3

$color-bg = #F3F3F3

$card-bg = #333333

$bg-overlay-color = #000
$bg-overlay-opacity = .8

$brown-bg = #898074

$border-color = #c4c4c4

$overlay-bg = #261E10
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========