.sect__technical
	min-height calc(100vh - 146px)
	flex-col-center()
	border-bottom 1px solid $border-color
	margin-top -15px
	position relative
	.link-back
		position absolute
		left 60px
		top 75px
	
.block-404
	font-size 24px
	line-height 33px
	p
		margin-bottom 60px
	&__title
		font 150px $SemiBold
		line-height 1
		margin-bottom 40px
		

.pages
	padding 40px 0
	color $dark-text-color
	
	.title
		font 30px $Med
		
		margin-bottom 40px
		
	a
		color inherit
		text-decoration underline
		&:hover
			text-decoration none
		
	li
		margin-bottom 8px