.contacts
	.form-notice
		color $basic-black-color
		text-align center
		font-size 12px
		line-height 14px
		
	&-form
		max-width 380px
		margin-left 30px
		
	&-col:first-child
		margin-left -30px
		
	&-block
		color $dark-text-color
		padding-left 30px
		padding-right 30px
		&__title
			font 24px $Med
			margin-bottom 20px
			
		.link
			color inherit
			
	.socials-list
		svg
			fill $text-color
			
	