.sect__promo
	position relative
	min-height 100vh
	overflow hidden
	
.promo-content
	position relative
	z-index 3
	// position-center()
	width 100%
	min-height 100vh
	padding 150px 0 60px
	color $basic-white-color
	flex-col-center()
	
	.btn
		margin-top 40px
		
	&__text
		font-family $Med
		
		margin  0 auto
		*:last-child
			margin-bottom 0
			
		p
			margin 0 auto 10px auto
			max-width 570px
			
		h1,h2
			font 40px $Med
			line-height 54px
			margin-bottom 13px
			
		ul
			margin 0 auto 10px auto
			max-width 570px
			li
				display block
				position relative
				text-align left
				padding-left 15px
				font-size 20px
				font-family $Reg
				line-height 24px
				letter-spacing 0.01em
				margin-bottom 12px
				&:last-child
					margin-bottom 0
				&:before
					pseudo()
					position absolute
					top 10px
					left 0
					width 5px
					height 5px
					border-radius 50%
					background-color currentColor

// Chapters
.chapter-card
	flex 1 0 33.33333%
	width 100%
	flex-col-center()
	transition all .17s ease-in-out
	
	padding 80px 65px
	background-color $color-bg
	color $dark-text-color
	border-right 1px solid $border-color
	&__main
		width 33.33333%
		&:nth-child(3n)
			background-color $card-bg
			color $basic-white-color
			border-color $card-bg
			img
				filter brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
					
			.chapter-card__img-double
				img
					&:nth-child(1)
						opacity 0
					&:nth-child(2)
						opacity 1
			&:hover
				background-color $color-bg
				color $dark-text-color
				img
					filter none


	&:nth-child(3n+3)
		border-right none
	&:hover,
	&.is-active
		background-color $card-bg
		color $basic-white-color
		border-color $card-bg
		img
			filter brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
				
		.chapter-card__img-double
			img
				&:nth-child(1)
					opacity 0
				&:nth-child(2)
					opacity 1
				
	&__category
		text-transform uppercase
		font 12px $Med
		line-height 16px
		margin-bottom 10px
		
	&__title
		font 30px $Med
		line-height 41px
		margin-bottom 20px
		
	&__text
		letter-spacing 2%
		
	&__information
		flex 1
		margin-bottom 50px
		
	&__price
		font 24px $Med
		margin-bottom 20px
		
	&__img
		height 350px
		flex-col-center()
		margin-bottom 20px
		position relative
		img
			@extends .content-img
			transition filter .17s ease-in-out
			transition opacity .17s ease-in-out
			max-width 550px
			&:nth-child(2)
				position absolute
				position-center()
				opacity 0
				filter none !important
					
	&__footer
		.btn:hover
			color $basic-white-color

.chapter-card
	&__wrapper
		display flex
		flex-wrap nowrap
		&:nth-child(odd)
			.chapter-card
				background-color $card-bg
				color $basic-white-color
				img
					filter brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
						
				.chapter-card__img-double
					img
						&:nth-child(1)
							opacity 0
						&:nth-child(2)
							opacity 1
				&:hover
					background-color $color-bg
					color $dark-text-color
					img
						filter none
					.chapter-card__img-double
						img
							&:nth-child(1)
								opacity 1
							&:nth-child(2)
								opacity 0


		.chapter-card
			width 50%
			flex none
			border-right none
			&__information
				margin-bottom 0
	&__content
		width 50%		
		flex none	
		display flex
		flex-direction column
		justify-content center
		padding 80px 0 80px 100px
		font-size 16px
		line-height 19px
		transition background-color .17s ease-in-out
		&.is-active
			background-color $basic-white-color
		li
			margin-bottom 10px
			position relative
			&:last-child
				margin-bottom 0
		ul
			li
				&:before
					pseudo()
					width 4px
					height 4px
					border-radius 50%
					vertical-align middle
					background-color currentColor
					margin-right 8px
		ol
			counter-reset list
			li
				&:before
					counter-increment list
					content counter(list) ". "
					display inline-block
					margin-right 8px
		&-block
			margin-bottom 40px
			padding-bottom 40px
			border-bottom 1px solid $border-color
			color $basic-black-color
			padding-right 100px
			&_title
				font 20px $Italic
				text-transform uppercase
				margin-bottom 40px
				color $dark-text-color

.chapter-card__btn-toggle
	width 100%
	margin-bottom 6px
	border-color currentColor
	color $basic-white-color
	position relative
	display none
	&:before
		content 'Читать всю информацию'
		
	&.is-active
		color $dark-text-color
		&:before
			content 'Свернуть информацию'		
			
	&:hover
		background-color transparent
// Story
.content-img
	&__wrapper
		width 100%
		flex 1
		max-width 510px
		.thumbnail
			padding-top 129.5%

.story
	
	&-content
		width 380px
		flex none
		&__text
			margin-bottom 40px
			h2, h3
				color $dark-text-color
				font 30px $Med
				margin-bottom 40px
			i, em
				font-family $LItalic
				
			p
				margin-bottom 10px
				&:last-child
					margin-bottom 0
					

.sect__portfolio
	.sect-title
		margin-bottom 20px

	
// Video
.sect__presentation
	position relative
	overflow hidden

	
.play-btn
	width 100%
	display block
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden
	z-index 3
	padding 20px
	&.is-hidden
		opacity 0
		visibility hidden
		pointer-events none
	&__ic
		display inline-block
		width 60px
		height 60px
		svg
			svg()
			fill $basic-white-color
			fill-rule evenodd
			clip-rule evenodd
	&:before
		pseudo()
		position absolute
		fullSize()
		transition background-color .17s ease-in-out
		background-color rgba($overlay-bg, .2)
		z-index 1
		
	&:hover
		svg
			fill $gold-color
		&:before
			background-color rgba($overlay-bg, .6)
		
	.container
		position absolute
		position-center()
		z-index 2
		display flex
		flex-direction column
		align-items center
		
// Calculator
.calculator
	&-content
		flex 1
		width 100%
		max-width 490px
		
	.links
		margin-top 40px
		
	&-total
		letter-spacing 0.02em
		font-size 14px
		line-height 1
		font-family $Reg
		span
			white-space nowrap
			line-height 1
			color $dark-text-color
			font 24px $Med
			margin-left 4px
			
	&-range
		margin-bottom 35px
		max-width 380px
		
		&__value
			margin-bottom 30px
			display flex
			flex-wrap nowrap
			justify-content space-between
			align-items center
			&-label
				font 14px $Reg
			&-val
				font 24px $Med
				color $dark-text-color
				display inline-block
				position relative
				
				.sup
					font-size 16px
					color $text-color
					vertical-align middle
					
		
		&__input
			height 4px
			border-radius 50px
			background-color rgba($border-color, .5)
			box-shadow none
			border none !important
			
			.ui-slider-range
				background-color $dark-text-color
				
			.ui-slider-handle
				border-radius 50%
				width 30px
				height 30px
				background-color $basic-white-color
				border 1px solid $border-color
				box-shadow 0px 0px 6px rgba(78, 60, 16, 0.25)
				vertical-center()
				margin-left -15px
				&.ui-state-focus
					border 1px solid $border-color
					color $border-color
		
	&-radios
		display flex
		flex-wrap nowrap
		margin-bottom 40px
		border-bottom 1px solid $border-color
	&-radio
		display block
		input
			display none
			&:checked
				+ span
					color $dark-text-color
					
					&:before
						transform translateX(0)
			
		span
			letter-spacing 0.02em
			display block
			padding-bottom 16px
			
			padding-right 15px
			position relative
			overflow hidden
			font-family $Reg
			white-space nowrap
			&:hover
				cursor pointer
			&:before
				pseudo()
				position absolute
				z-index 1
				width 100%
				left 0
				height 3px
				background-color currentColor
				bottom 0
				transition transform .17s ease-in-out
				transform translateX(-101%)
			
		&:last-child
			span
				padding-right 0
		
	&-notice
		margin-bottom 40px
		background-color $color-bg
		padding 12px
		font 12px $Med
		color $dark-text-color
		max-width 380px
		
// Work steps
.work-steps
	margin-left -1px
	margin-right -1px
	margin-bottom -2px
	
.work-step
	background-color $color-bg
	height 100%
	padding 40px 20px
	font 12px $Med
	line-height 16px
	display flex
	flex-direction column
	p
		flex 1
	&__title
		font 12px $Med
		color $dark-text-color
		text-transform uppercase
		display flex
		margin-bottom 10px
		align-items flex-start
		min-height 34px
	
		i
			font-size 15px
			display inline-block
			margin-top -3px
			margin-right 4px
	&__img
		height 185px
		flex-col-center()
		margin-bottom 40px
		
		img
			@extends .content-img
			
	&__wrapper
		padding-left 1px
		padding-right 1px
		margin-bottom 2px
		
.btn-wrapper
	margin-top 60px