// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/
+max-screen(1200px)
	.gutter-right
		padding-right 0
		
	// Header
	.header
		font-size 14px
		&-container
			padding-left 20px
			padding-right 20px
			
		&-center
			height 50px
			
		&-bottom
			padding 5px 0
			
	.page-inner .main
		padding-top 121px
		
	
	
	// Catalog
	.project-card__wrapper
		padding-left 15px
		padding-right 15px
		margin-bottom 30px
		
	.projects-cards
		margin-left -15px
		margin-right -15px
		margin-bottom -30px
		
	// Promo
	.promo-slider__controls
		bottom 20px
		right 20px
		
+max-screen(1050px)
	.header
		display none
		
	//page about
	.sect__slogan
		padding 80px 0
		
	// Advantages
	.advantages-slider
		padding-left 20px
		.slick-slide
			width 350px
			
	// Team
	.team-member
		width 100%
		&:nth-child(4n+4), 
		&:nth-child(4n+5)
			flex-direction row
		&:nth-child(even)
			flex-direction row-reverse
		
		
+max-screen(992px)
	// Footer
	.footer-bottom
		.row
			flex-wrap wrap
			flex-direction column
		
			align-items center
			
		&-nav
			margin-bottom 16px
			ul
				text-align center
			
		.socials
			margin-bottom 16px
			
	.copyright
		transform none
		top auto
		left auto
		position relative
		width 100%
		text-align center
		

	.footer
		&__row
			flex-wrap wrap
			
		&-center
			margin-bottom 40px
			
		&-nav
			width 100%
			column-count 4
			
	.subscribe-form
		flex none
		max-width 100%
		margin-top 60px
		&__title
			margin-bottom 20px
			
	// Catalog
	.project-card__wrapper
		width 50%
		
	// Work steps
	.work-step__wrapper
		width 50%
		
	// Story
	.story
		flex-wrap wrap
		&-content
			width 100%
			max-width 560px
			
	.simple-slider__wrapper
		margin-top 40px
		flex none
		max-width 100%
			
	.calculator
		&-row
			flex-wrap wrap
			

		
		
+max-screen(767px)
	//Portfolio slider
	.sect__portfolio
		.container
			padding-left 0
			padding-right 0
		.sect-title
			padding-left 20px
			padding-right 20px
		.link-arrow
			margin-left 20px
			
	.portfolio-slider__wrapper
		width 100%
		padding-left 20px
		.slick-slide
			width 280px 
			
		.project-card
			&__title
				bottom 10px
				left 15px
				right 15px
				font-size 18px
				
		.project-labels
			top 10px
			left 10px
			right 10px
			
		.project-label
			font-size 10px
			padding 4px 8px

+max-screen(700px)
	.promo-content
		padding 70px 0
	// Consultation
	.form-groups
		flex-wrap wrap
		.form-group
			width 100%
			
	.form-notice
		margin-top 20px
		
	// presentation
	.presentation-slide
		padding 40px 20px 60px 20px
		&__content
			width 100%
		

	.visible-mobile
		display block
		
	.hidden-mobile
		display none
		

+max-screen(620px)
	body
		font-size 14px
		line-height 19px
		
	.sect-title
		font-size 26px
		line-height 32px
		
	.gutter-top
		padding-top 80px
	.gutter-bottom
		padding-bottom 80px
	// PRomo
	.promo-content__text,
	.sect__slogan .content 
		font-size 14px
		line-height 19px
		h1, h2, h3
			font-size 30px
			line-height 35px
			
	// ADvantages
	.sect__advantages
		padding 80px 0
	.advantages-slider
		.slick-slide
			width 250px
			min-height 430px
			
		.slick-current 
			.advantage
				height 430px
				
	.advantage
		height 370px
		padding 20px
		font-size 14px
		line-height 19px
		&-title
			font-size 18px
			line-height 22px
			
	// Team
	.team-member
		flex-wrap wrap
		&__photo
			width 100%
			padding-top 100%
		&__content
			width 100%
			padding 40px 20px
			
		.document
			margin-top 40px
	

	// Footer
	.footer-bottom
		border-top none
	.footer-bottom-nav
		li
			width 100%
			display block
			margin-right 0
			margin-bottom 8px
			&:last-child
				margin-bottom 0
				
	.footer-nav
		column-count 2
		column-gap 10px
		
	// Consultation
	.form
		&-notice
			font-size 12px
			line-height 15px
			
	.catalog 
		.project-card
			padding-top 125%
			&__title
				padding 10px
				font-size 12px
				line-height 15px
				
		.project-labels
			top 10px
			left 10px
			right 10px
			
		.project-label
			font-size 8px
			margin-bottom 4px
			
	.projects-cards
		margin-left -5px
		margin-right -5px
		margin-bottom -10px
		
	.project-card
		&__wrapper
			padding-left 5px
			padding-right 5px
			margin-bottom 10px
			
	.catalog-filter
		margin-left -5px
		margin-right -5px
		margin-bottom 20px
		&__category
			padding-left 5px
			padding-right 5px
			span
				font-size 12px
				&:before
					top 5px
				&:after
					top 0
					

	// Calcul
	.calculator
		.links
			flex-wrap wrap
			justify-content center
			.btn
				width 100%
				
			.link
				margin-left 0
				margin-top 15px

		&-notice
			max-width 100%
		&-range
			max-width 100%
		&-total
			span
				display block
				margin-left 0
				margin-top 6px
				

	// Presentation
	.presentation-slide
		padding-left 0
		padding-right 0
		.btn
			width 100%
		&__content
			padding 40px 20px
			
			.sect-title
				margin-bottom 30px
				
		&__description
			font-size 16px
			
		&__param
			font-size 14px
			width 33.3333%
			span
				font-size 26px
				
				sup
					font-size 15px
					
+max-screen(480px)
	// Work steps
	.work-step__wrapper
		width 100%
		
	// Story
	.links
		.btn
			padding-left 17px
			padding-right 17px
		.link
			margin-left 20px
	

+max-screen(420px)
	// Calculator
	.calculator
		&-radios
			flex-wrap wrap
		&-radio
			width 100%
			margin-bottom 16px
			span
				padding-bottom 8px
			&:last-child
				margin-bottom 0
					
+max-screen(374px)
	.catalog 
		.project-card__title
			padding 5px
		.project-labels
			top 5px
			left 5px
			right 5px