// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/
+max-screen(1560px)
	.chapter-card__img
		height auto
		flex 1
		img
			max-width 75%
			
	.chapter-card__main
		padding 40px 20px
		
		
		.chapter-card__information
			display none
			
	.chapter-card__title
		font-size 26px
		
	.chapter-card__wrapper
		.chapter-card
			padding 40px 20px
			&__content
				padding 40px 0 40px 40px
				&-block
					padding-right 20px
		img
			max-width 350px
			
	.chapter-card__content-block_title
		margin-bottom 20px
			
+max-screen(1200px)
	.gutter-right
		padding-right 0
		
	.chapter-card__img
		img
			max-width 100%
		
	// Header
	.header
		font-size 14px
		&-container
			padding-left 20px
			padding-right 20px
			
		&-center
			height 50px
			
		&-bottom
			padding 5px 0
			
	.page-inner .main
		padding-top 121px
		
	
	
	// Catalog
	.project-card__wrapper
		padding-left 15px
		padding-right 15px
		margin-bottom 30px
		
	.projects-cards
		margin-left -15px
		margin-right -15px
		margin-bottom -30px
		
	// Promo
	.promo-slider__controls
		bottom 20px
		right 20px
		
	.content
		font-size 18px
		line-height 24px
		
		blockquote
			margin-left 0
			margin-right 0
			padding-top 40px
			&:before
				top 0
				left 0
				right auto
				margin-right 0
				
		img
			margin-left 0
			margin-right 0
			width 100%
			
	.article
		&-img
			padding-top 56.25%
			
	.sect__technical
		min-height calc(100vh - 121px)
		.link-back
			left 20px
			top 35px
		
	.quiz-step__answers
		&.row-gutters-lg 
			margin-left -10px
			margin-right -10px
			.quiz-step__answer
				padding-left 10px
				padding-right 10px
				
	.contacts-block
		padding-left 15px
		padding-right 15px
		
	.contacts-col:first-child
		margin-left -15px
				

+max-screen(1100px)

	.page-inner 
		.main
			padding-top 63px
			
	.sect__technical
		min-height calc(100vh - 63px)
	// Header
	.header
		&:before
			border-bottom 1px solid $basic-white-color
		&-border-block
			position static
			border none
		&.is-menu-opened
			color $dark-text-color
			&:before
				background-color $basic-white-color
				filter none
			.btn-hamburger
				span
					background-color $dark-text-color
			.logo
				img
					filter brightness(0) saturate(100%) invert(25%) sepia(15%) saturate(18%) hue-rotate(336deg) brightness(102%) contrast(86%)
						
			
		&-top,
		&-bottom
			display none
			
		&-center
			height 64px
			.logo
				position relative
				transform none
				top auto
				left auto
				z-index 1
				
			&__content
				display flex
				flex-wrap nowrap
				align-items center
				justify-content flex-start
				
	
	.page-with-light-header
		.header
			border-bottom rgba(255,255,255,.6)		
	.btn-hamburger
		display inline-block
		margin-left -5px
		
	.nav-wrapper
		position fixed
		top 0
		left 0
		width 100%
		height 100vh
		overflow-y auto
		background-color $basic-white-color
		z-index -6
		padding 80px 20px
		color $dark-text-color
		transition all .17s ease-in-out
		opacity 0
		visibility hidden
		pointer-events none
		&.is-opened
			opacity 1
			visibility visible
			pointer-events auto
		
	.nav 
		ul 
			display block
			li
				display block
				margin-right 0
				margin-bottom 8px
				&:last-child
					margin-bottom 0
				&.menu-item-hidden
					display block
					
			a
				font-size 15px
				padding 6px 0
				display block
	
		.sub-menu
			margin-left -20px
			margin-right -20px
			//display none
			li
				margin-bottom 0 !important
				a
					display block
					padding 10px 20px 10px 28px
					text-transform none
					font 15px $Med
					color $dark-text-color
					&:before
						display none
				&.current-menu-item
					a
						background-color $color-bg
						
	.nav-mobile
		display block
		padding-top 20px
		margin-top 20px
		border-top 1px solid $border-color
		ul
			li
				margin-bottom 8px
				&:first-child
					a
						padding-top 0
				&:last-child
					margin-bottom 0
			a, button
				display block
				padding 6px 0
				&:before
					background-color $gold-color
	
	.search
		&-wrapper
			display block
			position fixed
			top 0
			left 0
			z-index -5
			width 100%
			background-color $basic-white-color
			overflow-y auto
			height 100vh
			padding 80px 20px
			transition all .17s ease-in-out
			opacity 0
			visibility hidden
			pointer-events none
			&.is-opened
				opacity 1
				visibility visible
				pointer-events auto
				
			.header-container
				padding-left 0
				padding-right 0
				
		&-form
			padding 0
			
		&-results
			background-color $basic-white-color !important
			margin-left -20px
			margin-right -20px
			padding 26px 20px
			&__label
				font-size 12px
				padding-bottom 0
				border-bottom none
				color $text-color !important
				margin-bottom 16px
				
			a
				border none
				font-size 15px
				margin-left -20px
				margin-right -20px
				padding 8px 20px
				&:hover
					background-color $color-bg
					color $dark-text-color !important
				&:before
					display none
			
	.search-form
		flex 1
		position relative
		.btn-clear
			position absolute
		&__wrapper
			align-items center
			display flex
			flex-wrap nowrap
			.link
				margin-top -9px
		&-close
			display inline-block
			white-space nowrap	
			margin-left 8px
			flex none
			
	.search-input
		flex none
		width 100%
		padding 0 40px 11px 30px
		border-bottom 1px solid $border-color
		border-radius 0
		&:hover,
		&:focus
			border-color $gold-color
		&__ic
			margin-right 0
			position absolute
			top 3px
			left 0
			width 15.5px
			height 15.5px
		&__group
			margin-right 0
			flex none
			width 100%
			position relative
	.btn-clear
		top -2px
		transform none
		
	.btn-search-form-close
		width auto
		height auto
		margin-left 13px
		svg
			display none
		span
			display block
	
		
	//page about
	.sect__slogan
		padding 80px 0
		
	// Advantages
	.advantages-slider
		padding-left 20px
		.slick-slide
			width 350px
			
	.portfolio-slider__wrapper,
	.advantages-slider__wrapper
		.slick-dots
			flex-wrap wrap
			margin-bottom -8px
			li
				margin-bottom 8px
				

	.chapter-card__title
		font-size 22px
		line-height 22px
			
	// Team
	.team-member
		width 100%
		&:nth-child(4n+4), 
		&:nth-child(4n+5)
			flex-direction row
		&:nth-child(even)
			flex-direction row-reverse
	
	.sect__team-documents
		.team-member
			
			width 100%		
	// Blog
	.article-card
		font-size 14px
		line-height 19px
		margin-bottom 60px
		&__title
			font-size 18px
			line-height 22px
	.blog
		.article-card
			&:nth-child(8n+5)
				padding-top 60px
				padding-bottom 60px
			&:nth-child(4n+1)
				flex-wrap wrap
				
				.article-card
					&__thumbnail
						width 100%
						padding-top 70%
						min-height auto
					&__content
						width 100%
						padding-bottom 0
						padding 40px 20px 0 20px
						
					&__title
						font-size 28px
						line-height 32px
					&__preview
						font-size 18px
						line-height 22px
						
				.tag
					font-size 14px
					
				.tags
					margin-bottom 25px
					
				.article-date
					font-size 16px
					margin-top 25px
					
				.link
					font-size 16px
					margin-top 25px
				
	
	.project-description
		flex-wrap wrap
		.project-params__wrapper
			width 100%
			margin-right 0
			margin-bottom 40px
		
+max-screen(992px)
	
	// Footer
	.footer-bottom
		.row
			flex-wrap wrap
			flex-direction column
		
			align-items center
			
		&-nav
			margin-bottom 16px
			ul
				text-align center
			
		.socials
			margin-bottom 16px
			
	.copyright
		transform none
		top auto
		left auto
		position relative
		width 100%
		text-align center
		

	.footer
		&__row
			flex-wrap wrap
			
		&-center
			margin-bottom 40px
			
		&-nav
			width 100%
			column-count 4
			
	.subscribe-form
		flex none
		max-width 100%
		margin-top 60px
		&__title
			margin-bottom 20px
			
	// Catalog

	.project-card__wrapper
		width 50%
		
	// Work steps
	.work-step__wrapper
		width 50%
		
	// Story
	.story
		flex-wrap wrap
		&-content
			width 100%
			max-width 560px
			
	.simple-slider__wrapper
		margin-top 56px
		flex none
		max-width 100%
		
	.content-img
		&__wrapper
			margin-top 56px
			flex none
			max-width none
			width calc(100% + 40px)
			margin-left -20px
			margin-right -20px
			padding-left 0
			padding-right 0
			
	.calculator
		&-row
			flex-wrap wrap
			
	// Quiz
	.quiz-step__answer-radio_img
		height 230px
		span
			padding 10px 10px 10px 40px
			&:before
				left 10px
			&:after
				left 14px
				
	.quiz-step__answer
		&.col-w-25
			width 50%
			
		.quiz-step__answer-radio_rectangle 
			span
				height 105px
				
	.vacancy-card
		&__link
			font-size 20px
			line-height 28px
			&-text
				font-size 10px
				span
					margin-right 24px
					
	.contacts
		flex-wrap wrap
		&-col
			width 100%
			margin-bottom 32px
			&:last-child
				margin-bottom 0
		&-form
			margin-left 0
			max-width 75%
			

			
	.popup-vacancy
		.popup__body
			padding-left 24px
			padding-right 24px
			
		.form-group
			width 50%
			
	.form-group-empty
		display none
		
	.form-radios
		justify-content flex-start
		
		.form-radio__label
			margin-right 16px
			padding-left 0
			display block
			width auto
			&:last-child
				margin-right 0
				
	.col-w-tablet-100
		width 100% !important
	

+max-screen(767px)
	.chapter-card
		&__main
			border-right none
			border-bottom 1px solid $border-color
			width 100%
			flex none
			&:last-child
				border-bottom none
				
		&__wrapper
			flex-wrap wrap
			&:nth-child(even)
				.chapter-card__content
					background-color $color-bg
					&.is-active
						background-color $basic-white-color
					
				.chapter-card__btn-toggle
					border-color $dark-text-color
					color $dark-text-color
					
			.chapter-card
				width 100%
				padding-bottom 20px
				pointer-events none
				&__content
					width 100%
					padding 40px 20px
					padding-top 0
					margin-top -2px
					position relative
					z-index 1
					&-block
						padding-right 0
				&__information
					display none
					
	.chapter-card
		&__btn-toggle
			display block
		&__content
			background-color $card-bg
			&-blocks
				display none
				padding-top 40px
			
			.btn
				width 100%
	//Portfolio slider
	.sect__portfolio
		.container
			padding-left 0
			padding-right 0
		.sect-title
			padding-left 20px
			padding-right 20px
		.link-arrow
			margin-left 20px
			
	.portfolio-slider__wrapper
		width 100%
		padding-left 20px
		.slick-slide
			width 280px 
			
		.project-card
			&__title
				bottom 10px
				left 15px
				right 15px
				font-size 18px
				
		.tags
			top 10px
			left 10px
			right 10px
			
		.tag
			font-size 12px
			padding 4px 8px
			

			
	.quiz-step__answer
		&.col-w-33,
		&.col-w-25
			width 100%
		
		.quiz-step__answer-radio_rectangle
			margin-bottom 20px
			&:last-child
				margin-bottom 0
				
	.quiz-step__controls
		margin-top 40px
		
	.quiz-step__question
		br
			display none

+max-screen(700px)
	.promo-content
		padding 70px 0
	// Consultation
	.form-groups
		flex-wrap wrap
		.form-group
			width 100%
			&:last-child
				margin-bottom 0
			
	.form-notice
		margin-top 20px
		
	.form-radios
		padding-left 0
		
	.popup
		.sect-title
			font-size 24px
			line-height 28px
			margin-bottom 24px
			
	.form-groups__title
		font-size 18px
		margin-bottom 18px
		
	.popup__content .form-group
		margin-bottom 16px
		
	.form-group__submit
		flex-wrap wrap
		
	.form-label
		padding-left 8px
		
	.popup-vacancy 
		.form-group 
			.btn
				max-width 100%
				width 100%
			.form-notice
				width 100%
				text-align center
				margin-left 0
				margin-top 14px
				
	.form-file
		
		&__wrapper
			flex-wrap wrap
			flex-direction column
			text-align center
			padding 12px
			
			.form-file
				width 100%
		
				
		&__information
			flex none
			margin-left 0
			margin-top 18px
			
	.form-checkbox
		font-size 14px
		
	.form-groups
		margin-bottom 40px
		&:last-child
			margin-bottom 0
		
		
	// presentation
	.presentation-slide
		padding 40px 20px 60px 20px
		&__content
			width 100%
			
	// Quiz
	.quiz
		&-body
			padding-top 44px
			position relative
		&-progress
			position static
			.btn-close
				top 12px
				right 12px
				transform none
		&-steps
			padding-bottom 100px
			

	.vacancy-card
		&__link
			padding-left 12px
			padding-right 12px
			&-text
				span
					display none

	.sect__vacancies
		padding-bottom 80px
		
	.catalog-filter
		justify-content flex-start
		margin-left 0
		margin-right 0
		margin-bottom 14px
		&__category
			margin 0 10px 10px 0
			padding 0
		
	.catalog-filter__category
		a
			font 15px $SemiBold
			color $basic-white-color
			padding 8px 8px 8px 28px
			background-color $brown-bg
			border-radius 4px
			&:before
				left 8px
				vertical-center()
			&:after
				vertical-center()
				left 13px
				
		&.is-active
			a
				background-color $color-bg
				color $dark-text-color
				
	.blog
		.catalog-filter__category
			&.is-active
				a
					background-color $color-bg
					color $dark-text-color
			a
				padding 8px 8px 8px 28px
				color $basic-white-color
				&:hover
					&:before
						transform translate(0, -50%)
				&:before
					vertical-center()
					left 8px
					width 12px
					background-color currentColor
					
				&:after
					display block
					left 13px
		

	.contacts-form
		max-width 100%
		
	.contacts-block
		width 100%
		margin-bottom 24px
		&:last-child
			margin-bottom 0
			
		&__title
			font-size 20px
			margin-bottom 16px
			
	.page-heading__content
		min-height 300px			
		
		
	.visible-mobile
		display block
		
	.hidden-mobile
		display none
		

+max-screen(620px)
	
		
	body
		font-size 14px
		line-height 19px
		
	.sect-title
		font-size 30px
		line-height 36px
		
	.page-title
		font-size 36px
		line-height 40px
		
	.gutter-top
		padding-top 75px
	.gutter-bottom
		padding-bottom 75px
		
	.gutters
		padding 75px 0
	// PRomo
	.promo-slider
		&__controls
			bottom 20px
			right 20px
		&__btn
			width 40px
			height 40px
			margin-right 10px 
			svg
				width 10px
				
	.promo-content__text,
	.sect__slogan .content 
		font-size 14px
		line-height 19px
		h1, h2, h3
			font-size 30px
			line-height 35px
			
		ul
			li
				font-size 16px
				
	.promo-content__text
		h1, h2, h3
			font-size 34px
			line-height 35px
				
	.sect__another-projects
		padding-top 0
		padding-bottom 0
		
	.chapter-card
		&__title
			font-size 20px
			line-height 20px
			margin-bottom 20px
		&__category
			margin-bottom 0
			
		&__img
			img
				max-width 200px
			
	
			
	// ADvantages
	.sect__advantages
		padding 80px 0
	.advantages-slider
		.slick-slide
			width 250px
			min-height 430px
			
		.slick-current 
			.advantage
				height 430px
				
	.advantage
		height 370px
		padding 20px
		font-size 14px
		line-height 19px
		&-title
			font-size 18px
			line-height 22px
			
	// Team
	.team-member
		padding-left 20px
		padding-right 20px
		margin-bottom 40px
		&__name
			font-size 20px
			margin-bottom 8px
			line-height 24px
		&__position
			font-size 12px
		&__content
			padding 12px 0 12px 12px
			width 58%
		&__photo
			width 42%
			padding-top 42%
			
		&:last-child
			margin-bottom 0
			
		
				
		&:nth-child(even)
			flex-direction row
				
		.document
			margin-top 20px
			
	.document-name
		padding-left 0
		height auto
		&:before
			display none
			
	.sect__team-documents
		.team-member
			width 100%
			margin-bottom 20px !important
			background-color transparent
			&:last-child
				margin-bottom 0
			
	.team-members
		.team-member
			&:first-child
				flex-wrap wrap
				padding-left 0
				padding-right 0
				
				
				.team-member
				
					&__photo
						width 100%
						padding-top 100%
					&__content
						width 100%
						padding 40px 20px

	// Footer
	.footer-bottom
		border-top none
	.footer-bottom-nav
		li
			width 100%
			display block
			margin-right 0
			margin-bottom 8px
			&:last-child
				margin-bottom 0
				
	.footer-nav
		column-count 2
		column-gap 10px
		
	// Consultation
	.form
		&-notice
			font-size 12px
			line-height 15px
			
	.catalog 
		.project-card
			padding-top 125%
			&__title
				padding 10px
				font-size 12px
				line-height 15px
				
		.tags
			top 10px
			left 10px
			right 10px
			
		.tag
			font-size 12px
			margin-bottom 4px
			line-height 1
			
	.projects-cards
		margin-left -8px
		margin-right -8px
		margin-bottom -16px
		
	.project-card
		&__wrapper
			padding-left 8px
			padding-right 8px
			margin-bottom 16px
			
	.catalog
		.project-card
			> .tags
				left 12px
				bottom 12px
				right 12px
			.tag
				font-size 12px
				
			&__information
				padding 12px
				.tags
					margin-bottom 8px
			&__title
				padding 0
	
	.another-projects			
		.project-card__wrapper
			&:nth-child(4)
				display block
		
			
	
					

	// Calcul
	.calculator
		.links
			flex-wrap wrap
			justify-content center
			.btn
				width 100%
				max-width 100%
				
			.link
				margin-left 0
				margin-top 15px

		&-notice
			max-width 100%
		&-range
			max-width 100%
		&-total
			span
				display block
				margin-left 0
				margin-top 6px
				

	// Presentation
	.presentation-slide
		padding-left 0
		padding-right 0
		.btn
			width 100%
		&__content
			padding 40px 20px
			
			.sect-title
				margin-bottom 30px
				
		&__description
			font-size 16px
			
	.project-param
		font-size 14px
		width auto
		span
			font-size 26px
			
			sup
				font-size 15px
					
	// Blog
	.articles-cards
		margin-left -7.5px
		margin-right -7.5px
	.article-card
		width 50%
		padding-left 7.5px
		padding-right 7.5px
		&__preview
			font-size 12px
			line-height 16px
		&__title
			font-size 16px
			line-height 19px
			margin-bottom 12px
	.blog
		.article-card
			&:nth-child(8n+5)
				background-color transparent
				padding 0 7.5px
				color $dark-text-color
				&:before,
				&:after
					display none
			&:nth-child(4n+1)
				width 50%
				transform none
				left auto
				padding-left 7.5px
				padding-right 7.5px
				
				
				.article-card
					&__thumbnail
						margin-bottom 24px
					&__content
						padding 0
						
					&__title
						font-size 16px
						line-height 19px
					&__preview
						font-size 12px
						line-height 16px
						
				.tags,
				.article-date,
				.link
					display none
	
	.sect__article
		padding-top 0
		position relative
	.article
		&-entering
			margin-bottom 0
			position absolute
			z-index 2
			top 25px
			left 0
			.page-title
				display none
				
			
		&-img
			margin-bottom 24px
			background-attachment scroll
			position relative
			overflow hidden
			&:before
				pseudo()
				position absolute
				fullSize()
				background-color rgba(38, 30, 16, 0.5)
				z-index 1
		&-title
			margin-bottom 24px
			font-size 30px
			line-height 1.25
			
		.tags
			margin-bottom 24px
			
		.tag
			font-size 12px
			
		.article-date
			margin-top 24px
			font-size 16px
	
	.article-entering		
		.link-back
			color $basic-white-color
			&:before
				pseudo()
				background-image url('../img/icons/svg/arrow-lg-light.svg')
	
	.main
		section:last-child
			padding-bottom 56px		
	.content
		font-size 16px
		line-height 1.5
		
		h2,h3
			font-size 20px
			
		.wp-caption-text
			font-size 14px
		
		blockquote
			font-size 26px
			line-height 1.25
			&:before
				width 22px
				height 22px
				

	.sect__another-articles 
		padding-bottom 80px
		.container
			padding-top 80px
			
		.article-card:nth-child(3)
			width 100%

			

	.project-description 
		.content
			font-size 14px
		
		.project-params
			margin-bottom 0
			

	.slider-pagination.rectangles-view 
		li 
			margin-right 4px
			height 2px
			width 40px
			// margin 0 12px 0 0
			// width auto
			// height auto
			// button
			// 	border-radius 50%
			// 	width 8px
			// 	height 8px
				
	.story-content__text h2, 
	.story-content__text h3
		line-height 34px
		margin-bottom 20px
		
	.links .link
		margin-left 24px
		
	.simple-slider__wrapper
		padding-left 0
		padding-right 0
		width calc(100% + 40px)
		max-width none
		margin-left -20px
		margin-right -20px

		.slider-pagination
			padding-left 35px
			padding-right 35px
			
	.calculator-row
		.simple-slider__wrapper,
		.content-img__wrapper
			display none
			
		
	.sect__another-articles
		.articles-cards
			margin-bottom -60px
			
	// Popp
	.popup
		&__body
			padding 50px 20px
		&__title
			font-size 20px
			margin-bottom 14px
			line-height 27px
	
	.btn-close
		top 10px
		right 10px
		
	.popup-thanks
		.popup__title
			margin-bottom 32px
			font-size 20px
		.popup__text
			font-size 16px
			
		.btn
			max-width 100%
			width 100%
			
	// Quiz
	.sect__quiz
		padding-bottom 0 !important
	.quiz
		&-progress
			margin-bottom 30px
			
		&-step
			&:first-child
				.quiz-step__controls
					justify-content center
			&__question
				margin-bottom 32px
				&-title
					font-size 24px
					line-height 33px
				p
					font-size 16px
			
			&__controls
				display flex
				justify-content space-between
		
	.team-member
		margin-bottom 20px
		
	.team
		margin-bottom -20px	
		
	.vacancy-title
		font-size 24px
		line-height 30px
		
	.chapter-card
		&__content
			padding 60px 20px
			font-size 16px
			line-height 19px
			
	.sect__team-documents
		padding-bottom 80px
				
+max-screen(480px)
	// Work steps
	.work-step
		display block
		padding 40px 20px 40px 135px
		position relative
		min-height 145px
		&__img
			width 100px
			position absolute
			vertical-center()
			left 20px
		&__title
			min-height auto
			font-size 12px
			display block
			margin-bottom 15px
		&__wrapper
			width 100%
		
	// Story
	.links
		.btn
			padding-left 24px
			padding-right 24px
			
	.block-404
		font-size 16px
		line-height 24px

		&__title
			font-size 100px
			margin-bottom 32px
		

	.document
		justify-content space-between
	

+max-screen(420px)
	// Calculator
	.calculator
		&-radios
			flex-wrap wrap
			border-bottom none
		&-radio
			width 100%
			margin-bottom 16px
			span
				padding-bottom 8px
				border-bottom 1px solid $border-color
			&:last-child
				margin-bottom 0
				
	.chapter-card
		.btn
			width 100%
	
	.catalog
		.project-card__information
			display none
			
+max-screen(400px)
	.catalog-filter__category a
		font-size 12px
		padding 4px 8px 4px 28px
		
+max-screen(374px)
	.catalog 
		.project-card__title
			padding 5px
		.tags
			top 5px
			left 5px
			right 5px
			
	.links
		.link
			margin-left 16px
			
		.btn
			padding-left 16px
			padding-right 16px